.container{
    background-color: #242424;
    padding: 20px;
    color: rgb(255, 255, 255);
}

.container img{
    width: 100%;
}

.container b{
    font-weight: 800;
    color: rgb(26, 110, 158);
}

.container h1{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 55px;
}

.container h2{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.container h3{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.container button {
        border: none;
        padding: 10px 40px;
        font-weight: 700;
        border-radius: 4px;
        background-color: rgb(255, 91, 91);
}

.container button:hover {
    background-color: rgb(255, 8, 0);
}