

.card{
    background-color: rgb(196, 196, 196);
    padding: 10px;
}

.cardtext{
    margin: 0 10px;
    flex-grow: 1;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.card a{
    text-decoration: none;
    color: rgb(53, 53, 53);
}

.card b{
    font-weight: 800;
    color: rgb(26, 110, 158);
}

.card h2{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.card p{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
}