p, h1, h2, h3 , h4{
  margin: 0;
  padding: 0;
}

body{
  height: 100%; /* Ensure body and html are full height */
}

.App{
  height: 100vh;
  flex-direction: column;
}

.area{
  flex: 1;
  background-color: rgb(16, 122, 122);
}

.content{
  display: flex;
  height: calc(100vh - 42px);
}