
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

nav {
    display: flex;
    flex-direction: column;
    min-width: 230px;
    max-width: 230px;
    background-color: #6a6f85;
    padding-top: 5px;
}

.links{
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    color: #DEE5FF;
    text-align: center;
    background-color: #242424;
    margin: 15px 10px;
    padding: 15px;
}

.links.activePath{
    color: #dee5ffbb;
    background-color: #2424249c;
}